/* Général */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: #eaeaea;
}

header {
  background: linear-gradient(90deg, #0077cc, #00c6ff);
  color: white;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fadeIn 1s ease-in-out;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: calc(
    100vh - 200px
  ); /* Ajuster pour inclure le header et le footer */
}

#meteo-container {
  width: 90%;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease-in-out;
}

#meteo-table {
  width: 100%;
  border-collapse: collapse;
}

#meteo-table thead {
  background: linear-gradient(90deg, #00c6ff, #0077cc);
  color: white;
}

#meteo-table th,
#meteo-table td {
  text-align: center;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1rem;
}

#meteo-table thead th {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#meteo-table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

#meteo-table tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}

#meteo-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

footer {
  background: linear-gradient(90deg, #0077cc, #00c6ff);
  color: white;
  text-align: center;
  padding: 15px 20px;
  font-size: 0.9rem;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Boutons interactifs */
button {
  background: linear-gradient(90deg, #00c6ff, #0077cc);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: linear-gradient(90deg, #0077cc, #00c6ff);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Responsivité */
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  #meteo-table th,
  #meteo-table td {
    font-size: 0.9rem;
    padding: 10px;
  }

  #meteo-container {
    padding: 20px;
  }
}
